.five-ways-to-play {
    background: linear-gradient(to bottom,#1d375f 0,#162a48 50%,#0f1c30 100%);
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
        margin: 10px 0;
    }

    p {
        font-size: 14px;
        line-height: 1.8em;
    }

    .indexed-article-list {

        .article-list article {
            display: none;
        }

        .article-list article.active {
            display: block;
        }

        .article-list-index {
            display: flex;
            flex-flow: row nowrap;
            list-style-type: none;
            li {
                width: 20%;
                text-align: center;

                a {
                    @extend .condensed-font;
                    color: white;
                    text-decoration: none;
                    width: 100%;
                    display: block;
                    padding-top: 95px;

                    background-repeat: no-repeat;
                    background-position: top center;
                }

                &.active a {
                    border-bottom: 3px solid #f8cf03;
                }
            }

            .index-speed {
                background-image: url(http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-1.png);
            }
            .index-style {
                background-image: url(http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-2.png);
            }
            .index-build {
                background-image: url(http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-3.png);
            }
            .index-crew {
                background-image: url(http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-4.png);
            }
            .index-outlaw {
                background-image: url(http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-5.png);
            }
        }
    }
}
