.image-replacement {
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    text-indent: -99999px;
}

.brand-logo {
    width: 90px;
    height: 25px;
    background-image: url(//www.needforspeed.com/bundles/pulsenfs/dist/images/nfs-logo-blue.png);

    @extend .image-replacement;
}


.hero-promotion {
    h1 {
        width: 90%;
        max-width: 392px;
        min-width: 212px;
        height: 167px;
        background-image: url(//media-www-needforspeed.spark.ea.com/content/c-need-for-speed/en_US/_jcr_content/tout/foregroundImage.img.png);

        @extend .image-replacement;
    }
}

@media only screen and (min-width: 768px) {
    .brand-logo {
        width: 200px;
        height: 52px;
    }
}
