.condensed-font,
h1,
h2,
h3,
h4,
h5,
h6,
.page-navbar,
.hero-promotion .callout-block strong,
.linked-article-list .date,
.btn-callout,
.five-ways-to-play .indexed-article-list .article-list-index li a {
  font-family: din-condensed-web, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -.96px;
}

body,
html {
  font-size: 14px;
}

.page-navbar {
  background: black;
  padding: 5px 10px;
}

.page-navbar .navbar-logo {
  float: left;
}

.page-navbar .menu-list {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.page-navbar .menu-list li {
  float: left;
  display: none;
}

.page-navbar .menu-list li:first-child {
  display: block;
  float: right;
}

.page-navbar .menu-list li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 22px;
}

@media only screen and (min-width: 768px) {
  .page-navbar {
    background: transparent;
    padding: 20px;
  }

  .page-navbar .menu-list {
    padding: 10px;
  }

  .page-navbar .menu-list li {
    float: left;
    display: block;
  }

  .page-navbar .menu-list li:first-child {
    float: left;
  }
}

.hero-promotion {
  text-align: center;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-promotion .callout-block {
  color: white;
  padding: 100px 20px 35px 20px;
}

.hero-promotion .callout-block strong {
  display: block;
  font-size: 24px;
  letter-spacing: -.48px;
}

.linked-article-list a {
  text-decoration: none;
}

.linked-article-list a:hover article:before {
  background-color: transparent;
}

.linked-article-list h3 {
  font-size: 22px;
  text-transform: none;
  margin: 5px 0 10px 0;
}

.linked-article-list .date {
  text-transform: none;
}

.linked-article-list p {
  line-height: 1.8em;
}

.linked-article-list article {
  display: block;
  padding: 170px 16px 16px 16px;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
}

.linked-article-list article:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  position: relative;
  top: -10px;
}

@media only screen and (min-width: 768px) {
  .linked-article-list {
    display: flex;
    flex-flow: row nowrap;
  }

  .linked-article-list a:hover article:before {
    background-color: #f8cf03;
  }

  .linked-article-list article {
    background-size: calc(100% - 32px) auto;
  }
}

.center-page-content {
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .center-page-content {
    padding: 0 calc((100% - 840px) / 2);
  }
}

.btn-callout {
  background-color: #f8cf03;
  color: black;
  letter-spacing: -0.02em;
  line-height: 48px;
  min-width: 164px;
  padding: 0 24px;
  transition: all 0.3s ease-out;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.btn-link {
  font-size: 14px;
  color: white;
  text-transform: none;
  letter-spacing: normal;
}

@media only screen and (min-width: 768px) {
  .btn-callout {
    display: inline-block;
  }
}

.image-replacement,
.brand-logo,
.hero-promotion h1 {
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  text-indent: -99999px;
}

.brand-logo {
  width: 90px;
  height: 25px;
  background-image: url("//www.needforspeed.com/bundles/pulsenfs/dist/images/nfs-logo-blue.png");
}

.hero-promotion h1 {
  width: 90%;
  max-width: 392px;
  min-width: 212px;
  height: 167px;
  background-image: url("//media-www-needforspeed.spark.ea.com/content/c-need-for-speed/en_US/_jcr_content/tout/foregroundImage.img.png");
}

@media only screen and (min-width: 768px) {
  .brand-logo {
    width: 200px;
    height: 52px;
  }
}

.five-ways-to-play {
  background: linear-gradient(to bottom, #1d375f 0, #162a48 50%, #0f1c30 100%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.five-ways-to-play h2 {
  margin: 10px 0;
}

.five-ways-to-play p {
  line-height: 1.8em;
}

.five-ways-to-play .indexed-article-list .article-list article {
  display: none;
  min-height: 200px;
}

.five-ways-to-play .indexed-article-list .article-list article.active {
  display: block;
}

.five-ways-to-play .indexed-article-list .article-list-index {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}

.five-ways-to-play .indexed-article-list .article-list-index li {
  width: 20%;
  text-align: center;
}

.five-ways-to-play .indexed-article-list .article-list-index li a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  padding-top: 95px;
  background-repeat: no-repeat;
  background-position: top center;
}

.five-ways-to-play .indexed-article-list .article-list-index li.active a {
  border-bottom: 3px solid #f8cf03;
}

.five-ways-to-play .indexed-article-list .article-list-index .index-speed {
  background-image: url("http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-1.png");
}

.five-ways-to-play .indexed-article-list .article-list-index .index-style {
  background-image: url("http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-2.png");
}

.five-ways-to-play .indexed-article-list .article-list-index .index-build {
  background-image: url("http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-3.png");
}

.five-ways-to-play .indexed-article-list .article-list-index .index-crew {
  background-image: url("http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-4.png");
}

.five-ways-to-play .indexed-article-list .article-list-index .index-outlaw {
  background-image: url("http://www.needforspeed.com/bundles/pulsenfs/dist/images/5ways/icon-5.png");
}

.hero-promotion {
  height: 600px;
  background-image: url("http://media-www-needforspeed.spark.ea.com/content/c-need-for-speed/en_US/_jcr_content/tout/desktopBackground.img.jpg");
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background: black;
  color: white;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

aside {
  position: absolute;
  display: none;
  z-index: 110;
}