@import './vars';
@import './typography';
@import './components/page-navbar';
@import './components/hero-promotion';
@import './components/linked-article-list';
@import './components/page-layout';
@import './components/buttons';

@import './brand/logos';
@import './brand/five-ways-to-play';
@import './brand/promotions';

body, html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;

    background: black;
    color: white;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

aside {
    position: absolute;
    display: none;
    z-index: 110;
}
